@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body {
  width: 100vw;
  box-sizing: border-box;
  background-color: black;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contenedor {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100vw;
  margin: auto;
}
header .contenedor-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  width: 95%;
  padding: 1em;
}

header .logotipo img {
  width: 170px;
  height: auto;
}

header nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 20px;
}

button a {
  color:#aaa;
}

button a:hover {
  color:#000
}

header nav a:hover,
header nav a.activo {
  color: #fff;
}

.contenedor-errormsj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vw;
}

.frase-error {
  font-size: xx-large;
  color: #fa7d09;
  text-align: center;
  position: relative;
  /* left: -50px; */
  /* margin-top: -20%; */
  display: inline-block;
  width: 80%;
}

.botonAtras {
  display: flex;
  align-items: center;
  padding: 15px;

  font-size: large;
  background-color: transparent;
  color: #fa7d09;
  border: 3px solid #fa7d09;
  border-radius: 30px;
}
.botonAtras:hover {
  font-weight: bold;
  background-color: #fa7d09;
  color: black;
  text-decoration: none;
}

.leap-frog {
  --uib-size: 100px;
  --uib-speed: 2.5s;
  --uib-color: #fa7d09;

  position: relative;
  display: flex;
  right: 3%;
  align-items: center;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
}

.leap-frog__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 150%;
  height: 100%;
}

.leap-frog__dot::before {
  content: "";
  display: block;
  height: calc(var(--uib-size) * 0.22);
  width: calc(var(--uib-size) * 0.22);
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
}

.leap-frog__dot:nth-child(1) {
  animation: leapFrog var(--uib-speed) ease infinite;
}

.leap-frog__dot:nth-child(2) {
  transform: translateX(calc(var(--uib-size) * 0.4));
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5)
    infinite;
}

.leap-frog__dot:nth-child(3) {
  transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3) infinite;
}

@keyframes leapFrog {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  33.333% {
    transform: translateX(0) rotate(180deg);
  }

  66.666% {
    transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
  }

  99.999% {
    transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}
