@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300;1,700&display=swap');
:root{
--colorFuente:#FA7D09;
--botonPrimarios:#FF4301 ;
--fondo: black;
--fuente:'Lato', sans-serif;
--sombra: #ff450185;
--botonSecundario:#4A3F35; 
--colorFuenteBtn:#fff;

}

*{
  background-color: var(--fondo);
  font-family: var(--fuente);
  font-size: 16px;
  color: var(--colorFuente);
  padding: 0px;
  margin:0px;
}
.btn-ingresar,#btn{
background-color: var(--botonPrimarios);
color:var(--colorFuenteBtn);
font-weight: 700;
box-shadow: 12px 12px 12px 1px var(--sombra);

}
#btnCerrar{
  background-color: var(--botonSecundario);
  color:var(--colorFuenteBtn);
  font-weight: 700;
  box-shadow: 12px 12px 12px 1px var(--sombra);
}
.btn-ingresar:hover,#btn:hover{
  background-color: var(--colorFuente);
  color:var(--colorFuenteBtn);
  font-weight: 700;
  box-shadow: 12px 12px 12px 1px var(--sombra); 
  }
#btnCerrar:hover{
  background-color: var(--colorFuente);
  color:var(--colorFuenteBtn);
  box-shadow: 12px 12px 12px 1px var(--sombra);
 
}
 #loguinContraseña,#loguinEmail{
  background-color:transparent;
  box-shadow: 2px 2px 2px 1px var(--sombra);
  color: var(--colorFuenteBtn);
  font-weight: bold;
}
 #loguinEmail:hover, #loguinContraseña:hover {
color: var(--colorFuente);
background-color: var(--botonSecundario);
}
.registroEnlace,.olvidasteContraseña{
  color:var(--colorFuente);
  text-decoration: none;
  background-color: transparent;
}
.registroEnlace:hover,.olvidasteContraseña:hover{
  color:var(--botonPrimarios);
  text-decoration: none;
  background-color: var(--botonSecundario);
  border-radius: 13px;
  padding: 6px;
  box-shadow: 2px 2px 2px 1px var(--sombra);
}
.titulo{
  color: var(--colorFuente);
  margin: 22px;
}

.modal-title .modal-body{
 display: flex;
  justify-content: center;
}

/* clases para validar loguin */
.red{
color:red;
font-size: 22px;
}
.green{
color: green;
font-size: 22px;
}