@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300;1,700&display=swap');
:root{
--colorFuente:#FA7D09;
--botonPrimarios:#FF4301 ;
--fondo: black;
--fuente:'Lato', sans-serif;
--sombra: #ff450185;
--botonSecundario:#4A3F35; 
--colorFuenteBtn:#fff;
}
*{
  background-color: var(--fondo);
  font-family: var(--fuente);
  font-size: 16px;
  color: var(--colorFuente);
  padding: 0px;
  margin:0px;
}
 #loguinContraseñaR, #loguinEmailR{
  background-color:transparent;
  box-shadow: 2px 2px 2px 1px var(--sombra);
  color: var(--colorFuenteBtn);
  font-weight: bold;
  filter: brightness(80%);
}
#containerReset:hover  #loginEmailR:hover{
  color: var(--colorFuente);
  font-weight: bold;
}
#loguinContraseñaR:hover{
  color: var(--colorFuente);
  font-weight: bold;
}
#cambiarContraseña{
  background-color: var(--botonPrimarios);
  color:var(--colorFuenteBtn);
  font-weight: 700;
  box-shadow: 12px 12px 12px 1px var(--sombra);
 

  }
  #cambiarContraseña:hover{
    background-color: var(--colorFuente);
    color:var(--colorFuenteBtn);
    font-weight: bold;
    box-shadow: 12px 12px 12px 1px var(--sombra); 
    }
  .cambiar{
    color:var(--colorFuente);
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    padding: 6px;
    margin: 10px;
  }
  .cambiar:hover{
    color:var(--botonPrimarios);
    text-decoration: none;
    background-color: var(--botonSecundario);
    color:var(--colorFuenteBtn);
    font-weight: bold;
    border-radius: 13px;
    padding: 6px;
    box-shadow: 2px 2px 2px 1px var(--sombra);
  }
  .titulo{
    color: var(--colorFuente);
    margin: 22px;
    font-weight: bold;
  }

  /* clases para validar loguin */
.red{
  color:red;
  font-size: 22px;
  }
  .green{
  color: green;
  font-size: 22px;
  }