@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body {
  font-family: "Lato", sans-serif;
}
:root {
  --colorFuente: #fa7d09;
  --botonPrimarios: #ff4301;
  --fondo: black;
  --fuente: "Lato", sans-serif;
  --sombra: #ff450185;
  --botonSecundario: #4a3f35;
  --colorFuenteBtn: #fff;
}
* {
  background-color: var(--fondo);
  font-family: var(--fuente);
  font-size: 16px;
  color: var(--colorFuente);
  padding: 0px;
  margin: 0px;
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background-color: #000;
  width: 100vw;
  margin: 0;
  padding: 1em;
}

header .logotipo img {
  width: 170px;
  height: auto;
}

header nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
  color: #fff;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.acerca{
    width: 90vw;
}

.acerca .card-header{
    color: #000;
    font-weight: bold;
}


/* Media Queries */

@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}
	
	.pelicula{
		height: 250px;
		width: auto;
		margin: 0 1vw 0 1vw;
	}
	
	.pelicula img{
		object-fit: cover;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal img{
		width: 100%;
		height: 100%;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}
}

@media screen and (max-width: 360px){
	.pelicula{
		height: 150px;
		width: auto;
		margin: 0 1vw 0 1vw;
	}
	
	.pelicula img{
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	.pelicula-principal {
		font-size: 12px;
		height: 360px;
		max-width: 360px;
	}

	.pelicula-principal img{
		width: 100%;
		height: 100%;
		font-size: 10px;
	}

	.copyright{
		font-size: 12px;
	}
}